<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>おみくじ</title>
</head>
<body>
    <p>あなたの今回の運勢は<%= luck %>です．</p>
    <!-- <p>デバッグ用：<%= number %></p> -->
    <form action="/janken"> <!-- サーバに送る内容 -->
        <input type="hidden" name="hand" > 
        <input type="hidden" name="win" value="<%= win %>">
        <input type="hidden" name="total" value="<%= total %>">
        <input type="submit" value="じゃんけんへ">
    </form>
</body>
</html>