<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>予想</title>
</head>
<body>
    <p>あなたの勝率は<%= rate %>%です．</p>
    <p>予想：<%= judge %></p>
    <form action="/janken">  
        <input type="hidden" name="hand" > 
        <input type="hidden" name="win" value="<%= win %>">
        <input type="hidden" name="total" value="<%= total %>">
        <input type="submit" value="じゃんけんへ">
    </form>
</body>
</html>