#head{
    border-bottom: 1px solid #c0c0c0;/*コメント間の線の色*/
    background-color: #74992e;
    width: auto;
}

.cover {
    border-bottom: 1px solid #c0c0c0;/*コメント間の線の色*/
    width: auto;
    /*background-color: #74992e;*/
    margin: 3px;/*投稿の文字幅*/
}
#topics{
    height: 400px;
    overflow: scroll;
    width: 100%;
    /*background-color: aqua;*/
}

.his_cover {
    border-bottom: 1px solid #c0c0c0;/*コメント間の線の色*/
    /*background-color: #74992e;*/
    margin: 3px;/*投稿の文字幅*/
}

#histories {
    height: 400px;
    overflow: scroll;
    width: 100%;
}

.wrap{
    display: flex;
}
.topic_box{
    width: 60%;
    border: 2px solid rgb(30, 30, 30);
}
.his_box{
    margin-left: 15px;
    width: 35%;
    border: 2px solid rgb(30, 30, 30);
}

.buttons{
    margin-top: 15px;
}
.hidden{
    display: none;
}


/*
.number {
    font-weight: bold;
    width: 8em;
}
.name {
    font-weight: bold;
    width: 8em;
}

.mes {
    margin-left: 40px;
}
*/

