.cover {
    border-bottom: 1px solid #c0c0c0;/*コメント間の線の色*/
    /*background-color: #74992e;*/
    margin: 3px;/*投稿の文字幅*/
}

/*
.number {
    font-weight: bold;
    width: 8em;
}
*/

.name {
    font-weight: bold;/*文字の濃さ*/
    width: 8em;/*名前の文字幅*/
}

.mes {
    margin-left: 40px;/*名前とコメントの間*/
}
/*.something <- jsファイルの変数名かね*/

#bbs{
    height: 400px;
    overflow: scroll;
    width: 800px;
    /*background-color: aqua;*/
}
